
.game-selection {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .section {
    padding: 20px 40px 20px 30px;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1), -5px 0 10px rgba(0, 0, 0, 0.1);
  }


  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background: #fafafa;
    padding: 0 40px;
    h1 {
      margin-bottom: 0.5em;
      font-size: 4em;
    }
    .logo {
      max-width: 100%;
    }
  }

  .game-selection {
    flex-grow: 1;
    .games {
      width: 100%;
      .game {
        display: flex;
        flex-direction: row;
        align-items: center;
        .info {
          flex-grow: 1;
        }
      }
    }
  }

}


