
<div class="game-selection">

  <div class="section title">
    <h1>Darty</h1>
    <img src="/assets/logo.png" class="logo" />
  </div>

  <div class="section player-selection">

    <div class="players">
      <h3>Players</h3>
      <div class="player-list list-group list-group-flush">
        <div class="player list-group-item px-1 py-2" *ngFor="let player of playerService.getPlayers()">
          <fa-icon icon="user"></fa-icon>&nbsp;
          {{ player.name }}

          <span class="text-danger float-right" style="cursor:pointer;" (click)="deletePlayer(player.name)">
            <fa-icon icon="times"></fa-icon>
          </span>
        </div>
      </div>
      <div class="new-player">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" [(ngModel)]="newPlayerName" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="createPlayer()">Add</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="section game-selection">
    <div class="list-group games">

      <div class="list-group-item game">
        <div class="info">
          <h5>501</h5>
          <div>Players take turns to get their score down from 501.</div>
        </div>
        <button class="btn btn-primary btn-sm" routerLink="/basic">Start</button>
      </div>
      <div class="list-group-item game">
        <div class="info">
          <h5>Hare & Hounds</h5>
          <div>Players chase each other around the board.</div>
        </div>
        <button class="btn btn-primary btn-sm" routerLink="/hare-and-hounds">Start</button>
      </div>
      <div class="list-group-item game">
        <div class="info">
          <h5>Knockout</h5>
          <div>Players try to beat each others' scores. If you fail you lose a life. The last player standing wins.</div>
        </div>
        <button class="btn btn-primary btn-sm" routerLink="/knockout">Start</button>
      </div>

    </div>
  </div>


</div>


