
<div class="game-wrapper">


  <div class="dartarea">
    <app-dartboard (valueClicked)="valueClicked($event)"></app-dartboard>
  </div>


  <div class="gamearea">

    <app-quicknav></app-quicknav>


    <div class="current-throw">
      <app-current-throw [throws]="dartScores" [undoThrow]="undoThrow" [confirmThrows]="confirmThrows" [disabled]="winningPlayer !== undefined"></app-current-throw>
    </div>

    <div class="scoreboard">
      <div class="list-group list-group-flush">
        <div class="list-group-item player-frame"
          *ngFor="let item of playerScores | keyvalue"
          [class.list-group-item-primary]="winningPlayer === undefined && item.key == currentPlayer"
          [class.list-group-item-success]="item.key == winningPlayer"
        >
            <div class="name">{{ players[item.key].name }}</div>
            <div class="score" *ngIf="item.key == currentPlayer">({{ dartScoresSum }}) {{ item.value - dartScoresSum }}</div>
            <div class="score" *ngIf="item.key != currentPlayer">{{ item.value }}</div>
        </div>
      </div>
    </div>

    <div class="fields">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><fa-icon icon="bullseye"></fa-icon></span>
        </div>
        <input type="number" class="form-control" required [(ngModel)]="targetScoreInput">
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary" (click)="resetGame()">Reset Game</button>
        </div>
      </div>
    </div>

  </div>

</div>
