
.game-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;


  .dartarea {
    position: relative;
    z-index: 0;
    width: 75%;
  }

  .gamearea {
    z-index:1;
    width: 25%;
    background:#eee;
    display: flex;
    flex-direction: column;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    .current-throw {
      flex-grow:1;
    }

    .scoreboard {
      .player-frame {
        display: flex;
        flex-direction: row;
        .name {
          flex-grow: 1;
        }
      }
    }

  }
}


