
.quicknav {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  background: #333;

  img {
    height: 48px;
    width: 48px;
    padding: 5px;
  }
  h1 {
    padding: 0;
    margin: 0 0 0 10px;
    line-height: 48px;
    font-size: 2em;
    flex-grow: 1;
    color: #eee;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

