
<div class="game-wrapper">

  <div class="dartarea">
    <app-dartboard (valueClicked)="valueClicked($event)"></app-dartboard>
  </div>

  <div class="gamearea">

    <app-quicknav></app-quicknav>

    <div class="high-score">
      <div class="title">High Score</div>
      <div class="value">{{ currentHighScore }}</div>
    </div>

    <div class="current-throw">
      <app-current-throw [throws]="dartScores" [undoThrow]="undoThrow" [confirmThrows]="confirmThrows" [disabled]="winningPlayer !== undefined"></app-current-throw>
    </div>

    <div class="scoreboard">
      <div class="list-group list-group-flush">
        <div class="list-group-item player-frame"
          *ngFor="let item of players | keyvalue"
          [class.list-group-item-primary]="winningPlayer === undefined && item.key == currentPlayer"
          [class.list-group-item-success]="item.key == winningPlayer"
        >
          <div class="name">{{ item.value.name }}</div>
          <div class="lives">
            {{ playerLives[item.key] }} <fa-icon icon="heart"></fa-icon>
          </div>
          <div class="score"></div>
        </div>
      </div>
    </div>


    <div class="fields">
      <button type="button" class="btn btn-secondary" (click)="resetGame()">Reset Game</button>
    </div>


  </div>

</div>
