
.dartboard-frame {
  width: 100%;
  height: 100%;
  position: relative;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;


  .dartboard {
    width: 98%;
    height: 98%;
    border-radius: 50%;
    padding: 5px 10px 5px 5px;
    box-sizing: border-box;


    // Red backgrounds
    #d20, #t20, #d18, #t18, #d13, #t13, #d10, #t10, #d2, #t2, #d3, #t3, #d7, #t7, #d8, #t8, #d14, #t14, #d12, #t12, #b50 {
      &.selected {
        fill: #41D258;
      }
    }

    // Green backgrounds
    #d1, #t1, #d4, #t4, #d6, #t6, #d15, #t15, #d17, #t17, #d19, #t19, #d16, #t16, #d11, #t11, #d9, #t9, #d5, #t5, #b25 {
      &.selected {
        fill: #41D258;
      }
    }

    // Black backgrounds
    #s20, #s18, #s13, #s10, #s2, #s3, #s7, #s8, #s14, #s12 {
      &.selected {
        fill: #81F181;
      }
    }

    // White backgrounds
    #s1, #s4, #s6, #s15, #s17, #s19, #s16, #s11, #s9, #s5 {
      &.selected {
        fill: #81F181;
      }
    }

  }


  .speech-entry {
    position: absolute;
    top: 0;
    left: 0;
  }

}
