
<div class="current-throw">
  <div class="list-group list-group-flush">
    <div class="list-group-item px-2 py-1" *ngFor="let idx of [0,1,2]">
        &#10163; &nbsp; <span *ngIf="throws[idx]">{{ parseValueString(throws[idx]) }} ({{ throws[idx] }})</span>
    </div>
  </div>
  <div class="btn-group-vertical" *ngIf="!disabled">
    <button type="button" class="btn btn-secondary" [disabled]="throws.length == 0" (click)="undoThrow()">
      <fa-icon icon="undo"></fa-icon>
    </button>
    <button type="button" class="btn btn-success" [disabled]="throws.length !== 3" (click)="confirmThrows()">
      <fa-icon icon="check"></fa-icon>
    </button>
  </div>
</div>
