
<div class="game-wrapper">

  <div class="dartarea">
    <app-dartboard [valueStates]="currentDartboardState" (valueClicked)="valueClicked($event)"></app-dartboard>
  </div>


  <div class="gamearea">

    <app-quicknav></app-quicknav>

    <div class="scoreboard">
      <div class="list-group list-group-flush">
        <div class="list-group-item player-frame"
          *ngFor="let item of players | keyvalue"
          [class.list-group-item-primary]="winningPlayer === undefined && item.key == currentPlayer"
          [class.list-group-item-success]="item.key == winningPlayer"
        >
          <div class="name">
            <fa-icon [icon]="harePlayer == item.key ? 'carrot' : 'dog'"></fa-icon>&nbsp;
            {{ item.value.name }}
          </div>
          <div class="score">{{ playerPositions[item.key] === -1 ? '--' : playerPositions[item.key] }}</div>
        </div>
      </div>
    </div>


    <div class="fields">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><fa-icon icon="carrot"></fa-icon></span>
        </div>
        <select class="form-control" required [(ngModel)]="harePlayerInput">
          <option *ngFor="let item of players | keyvalue" [value]="item.key">{{ item.value.name }}</option>
        </select>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary" (click)="resetGame()">Reset Game</button>
        </div>
      </div>
    </div>


  </div>

</div>
